[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

{{#extensions}}
[{{extension}}]
type=endpoint
context=from-internal
disallow=all
allow=ulaw
transport=transport-udp
auth=auth{{extension}}
aors={{extension}}

[auth{{extension}}]
type=auth
auth_type=userpass
password={{extension}}
username={{extension}}

[{{extension}}]
type=aor
remove_existing=yes
max_contacts=1
mailboxes={{extension}}@default

{{/extensions}}
